<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Bewitching Tales by Kirsty Perry</title>
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/main.css">

    <!-- All in One SEO Pack 1.6.15.3 by Michael Torbert of Semper Fi Web Design[355,398] -->
    <meta name="description" content="Bewitching tales, stories, reviews and blog by Kirsty Gardner">
    <meta name="keywords" content="kirsty, gardner, stories, blog, reviews, blackpool, preston">
    <link rel="canonical" href="http://bewitchingtales.co.uk/">
    <!-- /all in one seo pack -->
</head>

<body class="home blog">
    <div id="holder">
        <div id="top">
            <!-- <div id="menu">
                <ul>
                    <li>
                        <a href="/">home</a>
                    </li>
                    <li>
                        <a href="/category/stories">stories</a>
                    </li>
                    <li>
                        <a href="/category/blog">blog</a>
                    </li>
                    <li>
                        <a href="/category/reviews">reviews</a>
                    </li>
                    <li>
                        <a href="/about">about</a>
                    </li>
                </ul>
            </div> -->
        </div>
        <div id="middle">
            <h1>Site under construction</h1>
            <br />
            <p>Sorry but this website is under construction. Please return soon.</p>
        </div>
        <div id="bottom">
            <div id="footer">
                all rights reserved bewitching tales 2018
            </div>
        </div>
    </div>
</body>

</html>